@import '../shared/variables.scss';
@import '../shared/typography.scss';
@import '../shared/mixins.scss';

.hero2 {
  position: relative;
  height: 80vh;

  &__img {
    position: relative;
    width: 100%;
    height: 100%;
    //background-image: url('https://images.pexels.com/photos/273222/pexels-photo-273222.jpeg?fit=crop&w=640&h=426');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

    /*@include from($medium) {
      background-image: url('https://images.pexels.com/photos/273222/pexels-photo-273222.jpeg?fit=crop&w=1280&h=853');
    }

    @include from($large) {
      background-image: url('https://images.pexels.com/photos/273222/pexels-photo-273222.jpeg?fit=crop&w=1920&h=1280');
    }*/

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: radial-gradient(color(black) 60%, rgba(color(principal-color), .2));
      opacity: .4;
    }
  }

  &__info {
    color: color(white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1em;

    &-title {
      font-size: 2.5em;
      letter-spacing: 1px;
      text-shadow: 0 3px 1px color(black);

      @include from($medium) {
        font-size: 3em;
      }

      @include from($large) {
        font-size: 3.5em;
        text-shadow: 0 4px 2px color(black);
      }
    }

    &-description {
      margin: 1em 0;
      text-align: center;
      opacity: .9;
      font:  {
        size: 1.2em;
        family: $font-title;
      }

      @include from($medium) {
        font-size: 1.5em;
      }

      @include from($large) {
        text-shadow: 0 2px 2px color(black);
      }
    }

    &-cta {
      color: color(white);
      background-color: color(principal-color);
      padding: .5em 1em;
      border: 2px solid color(white);
      text-transform: uppercase;
      border-radius: 5px;
      margin-top: 2em;
      box-shadow: 1px 1px 3px color(white);

      @include from($large) {
        transition: background-color .3s ease;
        font-size: 1.2em;
        &:hover {
          background-color: darken(color(secondary-color), 10);
        }
      }
    }
  }
}

