picture.hero__img
  source(media="(min-width: 1024px)", srcset!= images.large.url)
  source(media="(min-width: 640px)", srcset!= images.medium.url)
  img.hero__img-img(src!= images.small.url , alt!= images.small.description)
.hero__info
  h1.hero__info-title= header
  p.hero__info-description= description
  a.hero__info-cta(href!= cta.url)= cta.label
