@import '../shared/variables.scss';
@import '../shared/typography.scss';
@import '../shared/base.scss';
@import '../shared/mixins.scss';

.header {
  width: 100%;
  padding: .5em 1em;
  box-shadow: 0 1px 3px color(border-color);
  background-color: color(white);

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include from($large) {
      width: 100%;
      max-width: $max-width;
      margin: 0 auto;
    }
  }

  &__logo {
    height: 40px;
    width: 190px;

    @include from($large) {
      height: 50px;
    }
  }

  &__button {
    position: relative;
    width: 22px;

    &--span {
      position: absolute;
      width: 22px;
      height: 2.2px;
      top: 0;
      left: 0;
      background-color: color(font-color);
      transition: transform .3s ease;
    }

    @include from($large) {
      display: none;
    }

    &::before {
      content: '';
      position: absolute;
      width: 22px;
      height: 2px;
      top: -8px;
      left: 0;
      background-color: color(font-color);
      transition: transform .3s ease;
    }

    &::after {
      content: '';
      position: absolute;
      width: 22px;
      height: 2px;
      top: 8px;
      left: 0;
      background-color: color(font-color);
      transition: transform .3s ease;
    }

    &--animated {
      &::before {
        transform: rotate(45deg);
        top: 0;
      }

      &::after {
        transform: rotate(-45deg);
        top: 0;
      }

      .header__button--span {
        display: none;
      }
    }
  }

  &__search {
    position: relative;
    width: 25px;
    height: 25px;

    &::before {
      content: url('https://image.flaticon.com/icons/svg/164/164995.svg');
      position: absolute;
      width: 25px;
      height: 25px;
      top: 0;
      left: 0;
    }

    @include from($large) {
      display: none;
    }
  }

  .nav {
    background: linear-gradient(color(principal-color), darken(color(secondary-color), 20) );
    position: fixed;
    top: 56.2px;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 1em;
    transform: translate(-100%);
    transition: transform .3s ease;
    z-index: 10;

    @include from($large) {
      position: relative;
      top: 0;
      left: initial;
      right: 1.5em;
      background:transparent;
      z-index: 20;
      height: 100%;
      transform: translate(0);
      width: 450px;
      padding: 0;
    }

    &--show-menu {
      transform: translate(0);

      .menu__item {
        animation: menu .6s ease both;

        @for $i from 0 through 5 {
          &:nth-child(#{$i}) {
           animation-delay: #{$i * 0.05}s;
          }
        }

        @keyframes menu {
          from {
            transform: translate(-100%);
          }

          to {
            transform: translate(0);
          }
        }
      }
    }

    .menu {
      display: flex;
      flex-direction: column;

      @include from($large) {
        justify-content: space-between;
        flex-direction: row;
      }

      &__link {
        color: white;
        text-transform: uppercase;
        letter-spacing: .5px;
        text-shadow: 0 1px 2px color(black);

        @include from($large) {
          color: color(font-color);
          text-shadow: 0 0 0 white;
          text-transform: capitalize;

          &:hover {
            color: color(principal-color);
          }
        }

        &--animated {
          &::before {
            transform: rotateY(-180deg);
          }
        }

        &::before {
          content: url('https://image.flaticon.com/icons/svg/130/130900.svg');
          position: absolute;
          top: 0;
          right: .5em;
          width: 10px;
          height: 10px;
          opacity: .85;
          filter: invert(100%);
          transition: transform .8s ease;
          transform-origin: (0%, 100%);

          @include from($large) {
            filter: invert(0);
            width: 8px;
            height: 8px;
            right: -1em;
          }
        }
      }

      &__item {
        position: relative;
        font-size: 1.2em;
        margin-bottom: 1em;
        border-bottom:.5px solid rgba(color(body-bg), .6);

        @include from($large) {
          font-size: 1.1em;
          margin: 0;
          padding: 0;
          border: 0;
        }

        .submenu {
          padding: .5em;
          max-height: 0;
          overflow: hidden;
          transition: max-height .5s ease;
          transition: transform .3s ease;
          transform: scaleY(0);
          position: relative;
          border-radius: 5px;

          @include from($large) {
            position: fixed;
            top: 2.7em;
            background: white;
            padding: 0.5em 1em;
            box-shadow: 1px 0 3px color(principal-color);
            width: 200px;
          }

          &--show {
            max-height: 999px;
            transform: scaleY(1);
          }

          &__item {
            margin-bottom: .4em;
          }

          &__link {
            color: color(body-bg);
            font-size: .8em;
            opacity: .85;
            letter-spacing: .5px;
            text-shadow: 1px 0 2px black;

            @include from($large) {
              color: color(font-color);
              text-shadow: 0 0 0 white;
              transition: color .3s ease;
              font-size: 0.9em;

              &:hover {
                color: color(principal-color);
              }
            }
          }
        }
      }
    }
  }
}
