@import '../shared/variables.scss';
@import '../shared/typography.scss';
@import '../shared/base.scss';
@import '../shared/mixins.scss';

.header {
  width: 100%;
  padding: .5em 1em;
  border-bottom: .2px solid rgba($black, .5);

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include from(1024px) {
      width: 100%;
      max-width: $max-width;
      margin: 0 auto;
    }
  }

  &__logo {
    height: 40px;
  }

  &__button {
    position: relative;
    width: 25px;
    height: 2px;

    @include from(1024px) {
      display: none;
    }

    &.animated {
      &::before {
        transform: rotate(45deg);
        top: 0;
      }

      &::after {
        transform: rotate(-45deg);
        top: 0;
      }
    }

    &::before {
      content: '';
      position: absolute;
      width: 22px;
      height: 2px;
      top: -6px;
      left: 0;
      background-color: $font-color;
      transition: transform .3s ease;
    }

    &::after {
      content: '';
      position: absolute;
      width: 22px;
      height: 2px;
      top: 6px;
      left: 0;
      background-color: $font-color;
      transition: transform .3s ease;
    }
  }

  &__search {
    position: relative;
    width: 25px;
    height: 25px;

    &::before {
      content: url('https://image.flaticon.com/icons/svg/164/164995.svg');
      position: absolute;
      width: 25px;
      height: 25px;
      top: 0;
      left: 0;
    }

    @include from($large) {
      display: none;
    }
  }

  .nav {
    background: $principal-color;
    position: fixed;
    top: 56.2px;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 1em;
    transform: translate(-100%);
    transition: transform .3s ease;

    @include from(1024px) {
      position: relative;
      top: 0;
      background:transparent;
      z-index: 20;
      height: 100%;
      transform: translate(0);
      width: 380px;
      padding: 0;
    }

    &.show-menu {
      transform: translate(0);

      .menu__item {
        animation: menu .6s ease both;

        @for $i from 0 through 5 {
          &:nth-child(#{$i}) {
           animation-delay: #{$i * 0.05}s;
          }
        }

        @keyframes menu {
          from {
            transform: translate(-100%);
          }

          to {
            transform: translate(0);
          }
        }
      }
    }

    .menu {
      display: flex;
      flex-direction: column;

      @include from($large) {
        justify-content: space-between;
        flex-direction: row;
      }

      &__link {
        color: white;
        text-transform: uppercase;
        letter-spacing: .5px;
        text-shadow: 0 1px 2px $black;

        @include from(1024px) {
          color: $font-color;
          text-shadow: 0 0 0 white;
          text-transform: capitalize;

          &:hover {
            color: $principal-color;
          }
        }

        &.animated {
          &::before {
            transform: rotateY(-180deg);
          }
        }

        &::before {
          content: url('https://image.flaticon.com/icons/svg/118/118738.svg');
          position: absolute;
          top: 0;
          right: .5em;
          width: 12px;
          height: 12px;
          opacity: .85;
          filter: invert(100%);
          transition: transform .8s ease;
          transform-origin: (0%, 100%);

          @include from($large) {
            filter: invert(0);
            width: 10px;
            height: 10px;
            right: -1em;
          }
        }
      }

      &__item {
        position: relative;
        font-size: 1.2em;
        margin-bottom: 1em;
        border-bottom:.5px solid rgba($body-bg, .6);

        @include from(1024px) {
          font-size: 1em;
          margin: 0;
          padding: 0;
          border: 0;
        }

        .submenu {
          padding: .5em;
          background-color: darken($principal-color,0);
          max-height: 0;
          overflow: hidden;
          transition: max-height .5s ease;
          transition: transform .3s ease;
          transform: scaleY(0);
          position: relative;

          @include from($large) {
            position: fixed;
            top: 2.55em;
            background: white;
            padding: 0.5em 1em;
            box-shadow: 1px 0 3px $border-color;
          }

          &.show {
            max-height: 999px;
            transform: scaleY(1);
          }

          &__item {
            margin-bottom: .3em;
          }

          &__link {
            color: $body-bg;
            font-size: .8em;
            opacity: .85;
            letter-spacing: .5px;
            text-shadow: 1px 0 2px black;

            @include from($large) {
              color: $font-color;
              text-shadow: 0 0 0 white;
            }
          }
        }
      }
    }
  }
}

